
<div class="container">
  <div class="row">
        <button class="btn btn-primary btn-lg" (click)="viewAllEmps()">Back</button>    
  </div>
  <div class="row">
      <table class="table" border="1">
        <tr>
          <td align="center">
          <h1>Employee Details</h1>
            </td>
        </tr>
      <tr>
        <td>
          <h5>Name</h5>
          <p>{{employee.fname}} {{employee.lname}}</p>
        </td>
      </tr>
      <tr >
        <td>
          <h5>Salary</h5>
          <p>{{employee.salary | currency}}</p>
         </td>
      </tr>
      <tr>
        <td>
          <h5>Hire Date</h5>
          <p>{{employee.hireDate | date :'fullDate'}}</p>
         </td>
      </tr>
      <tr>
        <td>
          <h5>Department</h5>
          <p>{{employee.department}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Contact Details</h5>
        <table class="table">
          <tr>
            <th>
              Phone
            </th>
            <th>
              Email
            </th>
            <th>
              Address
            </th>
          </tr>
          <tr>
            <td>{{employee.phone}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.address}}</td>
          </tr>
        </table>
          </td>
      </tr>
    </table>
    </div>
  </div>

